<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xDuke</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/assets/css/bio.css">
    <link href="assets/img/chocolatebear.png" rel="icon" type="image/png">


    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
        <link rel="stylesheet" href="https://kit.fontawesome.com/ec2d57ba14.css" crossorigin="anonymous">
</head>

<body>

    <main>
        <div class="container">
            <div class="box-info">
                <img src="/assets/img/chocolatebear.png" alt="xDUKE">
                <h3>Hi! I'm xDUKE</h1>
                    <p>Cloud Engineer | Backend Developer | Discord Bot Developer</p>

                    <div class="links">
                        <ul>
                            <li id="discord">
                                <a href="/mydiscord" target="_blank"><i
                                        class="fa-brands fa-discord"></i>Discord</a>
                            </li>
                            <li id="github">
                                <a href="/github" target="_blank"><i
                                       class="fa-brands fa-github"></i>Github</a>
                            </li>
                            <li id="codepen">
                                <a href="/codepen" target="_blank"><i
                                    class="fa-brands fa-codepen"></i>Codepen</a>
                            </li>
                            <li id="instagram">
                                <a href="/instagram" target="_blank"><i
                                    class="fa-brands fa-instagram"></i>Instagram</a>
                            </li>
                            <li id="portfolio">
                                <a href="/home" target="_blank"><i class="fas fa-code"></i>Portfólio</a>
                            </li>
                        </ul>
                    </div>
            </div>

        </div>
    </main>

    <script>
        feather.replace()
    </script>
    <script src="https://kit.fontawesome.com/ec2d57ba14.js" crossorigin="anonymous"></script>

</body>

</html>