<!DOCTYPE html>
<html lang="en-us">

<head>

    <title>Oops! Temos um problema...</title>
    <!-- META TAGS -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta http-equiv="Content-Type" content="text/html; charset-utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset-iso-8859-1" />
    <meta name="language" value="PT-BR" />
    <meta name="author" value="XDukeHD" />
    <meta name="robots" value="index,follow,noodp,noydir" />
    <meta name="revisit-after" value="1 week" />
    <meta name="keywords" value="Contate a Nossa equipe." />
    <meta name="theme-color" value="#6454F0" />

    <meta property="og:url" content="https://xduke.tech/error/" />
    <meta property="og:title" content="Oops! Temos um problema..." />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_br" />
    <meta property="og:site_name" content="Oops! There was a problem..." />
    <meta property="og:image" content="assets/img/utils/weapons/summary card error.jpg" />
    <meta property="og:description" content="Contate a Nossa equipe." />
    <meta name="description" content="Contate a Nossa equipe." />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sanhosting" />
    <meta name="twitter:title" content="Oops! Temos um problema..." />
    <meta name="twitter:description" content="Contate a Nossa equipe." />
    <meta name="twitter:image" content="assets/img/utils/weapons/summary card error.jpg" />



    <!-- IMPORTS -->

    <!-- # favicon -->
    <link rel="shortcut icon" type="image/png" href=" assets/img/favicon.png" sizes="16x16">

    <!-- # css -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- # javascript -->
    <script src="/assets/js/jquery/jquery.min.js"></script>
    <script src="/assets/js/jquery/jquery-ui.min.js"></script>

</head>

<body type="error">

    <!-- |||||||||||||||||||||||||||||||\ -->
    <!-- |||||  [ WATCH CONTENT ]  |||||\ -->
    <!-- |||||||||||||||||||||||||||||||\ -->

    <div class="card" box_shadow="true" box_shadow-type="3">
        <div class="header">
            <img src="/assets/img/icon-Caution.gif">
            <strong>Oops! We have a problem...</strong>
        </div>

        <hr>

        <div class="content">
            <p>The page you are looking for does not exist or has been deleted. <a href="https://xduke.tech/">CLICK HERE</a> to 
                back Home</p>
        </div>

        <div class="footer">
            <div class="others">
                <span class="copyright">
                    <%= new Date().getFullYear() %> Copyright © XDuke/Túlio. All rights reserved.
                </span>
            </div>
        </div>
    </div>

    <!-- |||||||||||||||||||||||||||||||\ -->
    <!-- |||||  [ WATCH CONTENT ]  |||||\ -->
    <!-- |||||||||||||||||||||||||||||||\ -->

    <!-- IMPORTS -->
    <script src="/assets/js/jquery/jquery.min.js"></script>
    <script src="/assets/js/jquery/jquery-ui.min.js"></script>

    <script src="/assets/js/geral.js"></script>

</body>

</html>