<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>xDuke - Portfolio</title>
  <meta name="description" content="xDuke - Portfolio">
  <meta name="author" content="xDuke">
  <meta  name="theme-color" content="#000000">
  <link href="assets/img/chocolatebear.png" rel="icon" type="image/png">
  <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <meta name="language" value="EN-US" />
  <meta name="author" value="XDukeHD" />
  <meta name="robots" value="index,follow,noodp,noydir" />
  <meta name="revisit-after" value="1 week" />
  <meta name="keywords" value="Buy discord bot, duke, xduke, xdukehd, xduke_br, tulio, tulio_zanella, tuliozanella, tuliozanella.com, tul, mr duke, mrduke, mrdukehd, mrduke_br" />
  <meta name="theme-color" value="#6454F0" />

  <meta property="og:url" content="https://xduke.tech/" />
  <meta property="og:title" content="Welcome to my portfolio, view my projects and contact me." />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="pt_br" />
  <meta property="og:site_name" content=""Welcome to my portfolio, view my projects and contact me." />
  <meta property="og:image" content="assets/img/chocolatebear.png" />
  <meta property="og:description" content="Contact me for buy applications." />
  <meta property="og:keywords" content="duke, xduke, xdukehd, xduke_br, tulio, tulio_zanella, tuliozanella, tuliozanella.com, tul, mr duke, mrduke, mrdukehd, mrduke_br," />
  <meta name="description" content="Contact me for buy applications." />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@xdukehd" />
  <meta name="twitter:title" content=""Welcome to my portfolio, view my projects and contact me." />
  <meta name="twitter:description" content="Contact me for buy applications." />
  <meta name="twitter:image" content="assets/img/chocolatebear.png" />
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav"
    style="background: linear-gradient(white 0%, black 0%);">
    <div class="container"><a class="navbar-brand" href="#page-top">xDuke</a><button data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
          class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio"
              style="border-color: var(--bs-indigo);">Portfolio</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about"
              style="padding-left: 14px;">About</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/bio"
              style="padding-left: 14px;">Links</a></li>
          <li class="nav-item mx-0 mx-lg-1"></li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="text-center text-white bg-primary masthead"
    style="--bs-primary: #000000;--bs-primary-rgb: 0,0,0;--bs-success: #000000;--bs-success-rgb: 0,0,0;color: var(--bs-black);font-size: 13px;background: linear-gradient(white 0%, black 0%), rgb(0,0,0);">
    <div class="container" style="background: #000000;color: rgb(152,44,203);"><img
        class="rounded-circle img-fluid d-block mx-auto mb-5" src="assets/img/chocolatebear.png" width="302"
        height="302">
      <h1>xDUKE</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">Back-end Developer - Discord bot Developer - Software Engineer</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </header>
  <section id="portfolio" class="portfolio" style="background: #171715;color: var(--bs-indigo);">
    <div class="container">
      <h2 class="text-uppercase text-center text-secondary">Projects</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#izzys" data-bs-toggle="modal">
            <div class="d-flex portfolio-item-caption position-absolute h-100 w-100"
              style="color: var(--bs-indigo);background: var(--bs-indigo);">
              <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i
                  class="fa fa-search-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/Izzys2.png">
          </a></div>
        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#cookiemc"
            data-bs-toggle="modal">
            <div class="d-flex portfolio-item-caption position-absolute h-100 w-100"
              style="background: var(--bs-indigo);">
              <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i
                  class="fa fa-search-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/cookiemc.png">
          </a></div>
        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#eraanimes"
            data-bs-toggle="modal">
            <div class="d-flex portfolio-item-caption position-absolute h-100 w-100"
              style="background: var(--bs-indigo);">
              <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i
                  class="fa fa-search-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/eraanimes.png">
          </a></div>
            <!--
        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4"
            data-bs-toggle="modal">
            <div class="d-flex portfolio-item-caption position-absolute h-100 w-100"
              style="background: var(--bs-indigo);">
              <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i
                  class="fa fa-search-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/portfolio/game.png">
          </a></div>
        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-5"
            data-bs-toggle="modal">
            <div class="d-flex portfolio-item-caption position-absolute h-100 w-100"
              style="background: var(--bs-indigo);">
              <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i
                  class="fa fa-search-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/portfolio/safe.png">
          </a></div>
        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-6"
            data-bs-toggle="modal">
            <div class="d-flex portfolio-item-caption position-absolute h-100 w-100"
              style="background: var(--bs-indigo);">
              <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i
                  class="fa fa-search-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/portfolio/submarine.png">
          </a></div>
            -->
          
      </div>
    </div>
  </section>
  <section class="text-white bg-primary mb-0" id="about"
    style="background: linear-gradient(white 0%, black 0%), var(--bs-purple);">
    <div class="container">
      <h2 class="text-uppercase text-center text-white">About</h2>
      <hr class="star-light mb-5"
        style="color: var(--bs-purple);--bs-success: #171717;--bs-success-rgb: 23,23,23;--bs-warning: #171717;--bs-warning-rgb: 23,23,23;--bs-danger: #171717;--bs-danger-rgb: 23,23,23;--bs-light: #171717;--bs-light-rgb: 23,23,23;--bs-body-color: #171717;--bs-dark: #171717;--bs-dark-rgb: 23,23,23;--bs-body-bg: #171717;--bs-body-font-size: #171717;--bs-body-font-weight: #171717;">
      <div class="row">
        <div class="col-lg-4 ms-auto">
          <p class="lead">Hi! My name is Túlio, I'm studying for a FullStack developer, I'm 15y old and live in São
            Paulo, Brazil<br><br></p>
        </div>
        <div class="col-lg-4 me-auto">
          <p class="lead">If you are in need of a discord bot or a different application, contact me through my discord
            XDuke#0001</p>
        </div>
      </div>
      <div class="text-center mt-4"><a class="btn btn-outline-light btn-xl" role="button" href="/mydiscord"><svg
            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
            class="bi bi-discord me-2">
            <path
              d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z">
            </path>
          </svg><span>Send a Message!</span></a></div>
    </div>
  </section>
  <footer class="text-center footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0"
          style="margin: 0 auto;">
          <h4 class="text-uppercase">My social networks</h4>
          <ul class="list-inline-item">
            <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle"
                role="button" href="https://instagram.com/tulio_zanella/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em"
                  height="1em" fill="currentColor"
                  class="fa-fw"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                  <path
                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                  </path>
                </svg></a></li>
            <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle"
                role="button" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="10 0 512 512" width="1em"
                  height="1em" fill="currentColor"
                  class="fa-fw"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                  <path
                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                  </path>
                </svg></a></li>
            <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle"
                role="button" href="https://github.com/XDukeHD"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-8 0 512 512" width="1em"
                  height="1em" fill="currentColor"
                  class="fa-fw"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                  <path
                    d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z">
                  </path>
                </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <div class="text-center text-white copyright py-4">
    <div class="container"><small>© <%= new Date().getFullYear() %>  XDuke. All rights reserved.</small></div>
  </div>
  <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="text-center d-block rounded text-white"
      href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
  <div class="modal text-center" role="dialog" tabindex="-1" id="izzys">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="modal-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-uppercase text-secondary mb-0">Izzy's Bot</h2>
                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/izzys.png">
                <p class="text-secondary">izzys is a bot for discord, but it has been paused indefinitely, I will leave it fully
                  functional until the end of the year, but no date yet.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
            role="button" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
      </div>
    </div>
  </div>
  <div class="modal text-center" role="dialog" tabindex="-1" id="cookiemc">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="modal-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-uppercase text-secondary mb-0">CookieMC</h2>
                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/cookiemc.png">
                <p class="text-secondary">Cookie MC, was a minecraft network created in 2019, but due to internal problems it was closed in 2020, maybe in 2024 or 2025 it will be back online again (Probably not).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
            role="button" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
      </div>
    </div>
  </div>
  <div class="modal text-center" role="dialog" tabindex="-1" id="eraanimes">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="modal-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-uppercase text-secondary mb-0">Era Animes Online</h2>
                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/logo.png">
                <p class="text-secondary">It was anime, it was a site to watch anime for free, we had more than 1k monthly views and an api to provide you with information about the anime that were on the platform, as well as letting you know when there was a new anime, but due to financial problems the site was deactivated, most likely he will be back by the end of the year!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
            role="button" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
      </div>
    </div>
  </div>
  <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-4">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="modal-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/portfolio/game.png">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                  nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae?
                  Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
            role="button" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
      </div>
    </div>
  </div>
  <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="modal-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/portfolio/safe.png">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                  nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae?
                  Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
            role="button" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
      </div>
    </div>
  </div>
  <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-6">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="modal-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/portfolio/submarine.png">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                  nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae?
                  Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss"
            role="button" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
      </div>
    </div>
  </div>
  <script src="assets/bootstrap/bootstrap.min.js"></script>
  <script src="assets/js/script.min.js"></script>
</body>

</html>